<div class="presentation-viewer">
  <div>
    <div class="navigation-sidebar">
      some text
    </div>
    <div style="float: left;">
      <svg class="svgcontent" width="853" height="480" overflow="visible" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 853 480">
      </svg>
    </div>
  </div>
  <div style="clear: both;"></div>
  <div class="btn-group">
    <button type="button" class="btn btn-primary" ng-click="prevSlide()"><i class="fa fa-chevron-left"></i></button>
    <button type="button" class="btn btn-primary" ng-click="nextSlide()"><i class="fa fa-chevron-right"></i></button>

    <div class="btn-group dropup">
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
        Slide {{currentSlideNumber}} <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li ng-repeat="slide in presentation.slides"><a href="" ng-click="setCurrentSlide($index + 1)">Slide {{$index + 1}}</a></li>
      </ul>
    </div>
  </div>
</div>